*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    width: 100%;
    background-color: beige;
    margin: 0 auto;
}
.box{
    margin-left: 180px;
}
.title{
    width: 177px;
    height: 43px;
    size: 30px;
    padding-top: 120px;
}
.p1{
    width: 642px;
    height: 96px;
    size: 32,7px;
    padding-top: 60px;
}
.p2{
    width: 831.5px;
    height: 126px;
    size: 25px;
    padding-top: 60px;
}
.item1{
    height: 30px;
    width: 61px;
    background-color: blue;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.block{
    display: flex;
    flex-wrap: wrap;
    width: 502px;
    height: 181px;
    margin-left: 180px;
}
.block2{
    display: flex;
    flex-wrap: wrap;
    width: 502px;
    height: 181px;
    margin-left: 180px;
}
.item2{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item3{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item4{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item5{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item6{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item7{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item8{
    height: 30px; 
    background-color: blue;
    margin-left: 10px;
}
.item9{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
.item10{
    height: 30px;
    background-color: blue;
    margin-left: 10px;
}
